@model ArquiaIT.Models.Business.Retention

@{
    ViewBag.Title = "Delete";
}

<h2>Retenciones</h2>

<div class="form-horizontal">
    
    <h4>Eliminar</h4>
    <hr />
    <p>
        <div class="Warning">
            ¿Est&aacute; seguro que desea eliminar esta retenci&oacute;n?
        </div>
    </p>

    <div class="form-group">
        @Html.LabelFor(model => model.InvoiceID, "InvoiceID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("InvoiceID", null, htmlAttributes: new { @class = "form-control", disabled = "true" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ganancias, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ganancias, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IVA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IVA, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SUSS, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SUSS, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IIBB, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IIBB, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Gastos IIBB + Imp CHQ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IIBBSpends, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Others, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Others, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index", "Invoices")
        </div>
    }
</div>
