@model IEnumerable<ArquiaIT.Models.Business.Retention>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ganancias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IVA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUSS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IIBB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IIBBSpends)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Others)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice.InvoiceNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ganancias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IVA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUSS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IIBB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IIBBSpends)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Others)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice.InvoiceNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
