@model IEnumerable<ArquiaIT.Models.UserWithRoleViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Register as a new user", "Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", "Manage", new { id = item.UserId }, new { }) |
            @Html.ActionLink( "Change your password", "ChangePassword", "Manage", new { id = item.UserId }, new { }) |
            @Html.ActionLink("Delete", "Delete", "Manage", new { id = item.UserId }, new { })
        </td>
    </tr>
}

</table>
