@model ArquiaIT.Models.Business.Invoice

@{
    ViewBag.Title = "Edit";
}

<h2>Factura</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edici&oacute;n</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.POLineID)

        @Html.Partial("~/Views/PurchaseOrders/PurchaseOrderPartial.cshtml", Model.PurchaseOrderLine.PurchaseOrder)


        <div class="row">
            <div class="col-md-12">
                <ul >
                    <li class="active btn btn-default"><a href="#tab1default" data-toggle="tab">Facturas</a></li>
                    <li class="btn btn-default">@Html.ActionLink("Gastos", "InvoiceSpends", "Spends", new { invoiceID = Model.Id}, null)</li>
                </ul>
            </div>
        </div>

        <hr>

        @Html.Partial("~/Views/Invoices/InvoiceDetailEdit.cshtml", Model)

        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <input type="submit" value="Actualizar" class="btn btn-default" />
            </div>
            <div class="col-md-10">
                @Html.ActionLink("Volver", "Index")
            </div>
        </div>

    </div>
}
<script>
    $("#InvoiceDate").datepicker(
    {
        format: 'dd/mm/yyyy'
    });
    $(document).ready(function () {
        $("#InvoiceTotal").prop("readonly", true);
        $("#ValueInPesos").prop("readonly", true);
        $("#ValueInDollars").prop("readonly", true);
        $("#ChangeRate").prop("readonly", true);
        $("#PayDate").prop("readonly", true);
    });
</script>
