@model ArquiaIT.Models.Business.Invoice

@{
    ViewBag.Title = "Edit";
}

<h2>Factura</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edici&oacute;n</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.POLineID)

        @Html.Partial("~/Views/PurchaseOrders/PurchaseOrderPartial.cshtml", Model.PurchaseOrderLine.PurchaseOrder)

        @if (this.User.IsInRole("Administrator"))
        {
            @Html.Hidden("isAdmin", true)
        }
        else
        {
            @Html.Hidden("isAdmin", false)
        }

        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabInvoiceDetails" data-toggle="tab">Factura</a></li>
            <li><a href="#tabSpends" data-toggle="tab">Gastos</a></li>
            @if (Model.Retention.Count > 0)
            {
                <li><a href="#tabRetentions" data-toggle="tab">Retenciones</a></li>
            }
        </ul>
        <div class="tab-content">
            <div id="tabInvoiceDetails" class="tab-pane active">
                &nbsp;
                @Html.Partial("~/Views/Invoices/InvoiceDetailEdit.cshtml", Model)
            </div>

            <div id="tabSpends" class="tab-pane fade">
                @Html.Partial("~/Views/Spends/InvoiceSpend.cshtml", Model.Spend, new ViewDataDictionary { { "InvoiceID", Model.Id } })
            </div>

            <div id="tabRetentions" class="tab-pane fade">
                @if (Model.Retention.Count > 0)
                {
                    @Html.Partial("~/Views/Retentions/InvoiceRetention.cshtml", Model.Retention.FirstOrDefault(), new ViewDataDictionary { { "InvoiceID", Model.Id } })
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <input type="submit" value="Actualizar" class="btn btn-default" /> 
            </div>
            <div class="col-md-9">
                @if (Model.Retention.Count == 0)
                {
                     @Html.ActionLink("| Generar Retención", "Create", "Retentions", new { invoiceId = Model.Id }, null) 
                }
                |
                @if (ViewBag.Source == "PO")
                {
                    @Html.ActionLink("Volver", "Edit", "PurchaseOrders", new { id = Model.PurchaseOrderLine.POID }, null)
                }
                else
                {
                    @Html.ActionLink("Volver", "Index")
                }

            </div>
        </div>

    </div>
}
<script>
    $("#InvoiceDate").datepicker(
    {
        format: 'dd/mm/yyyy'
    });
    
    $(document).ready(function () {
        $("#InvoiceTotal").prop("readonly", true);
        $("#ValueInPesos").prop("readonly", true);
        $("#ValueInDollars").prop("readonly", true);
        $("#ChangeRate").prop("readonly", true);

        if ($("#isAdmin").val() == "False")
        {
            $("#PayDate").prop("readonly", true);
            $("#InvoiceNumber").prop("readonly", true);
        }
        else {
            $("#PayDate").datepicker(
            {
                format: 'dd/mm/yyyy'
            });
        }

    });
</script>
