@model ArquiaIT.Models.Business.Invoice

<div class="row">
    <div class="col-md-2">
        @Html.Label("Número Fact", htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-4">
        @Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-2">
        @Html.Label("Fecha Fact", htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-4">
        @Html.EditorFor(model => model.InvoiceDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.InvoiceDate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("Categoría", htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-4">
        @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-2">
        @Html.Label("Estado", htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-4">
        @Html.DropDownList("StatusID", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("Valor AR$", htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-4">
        @Html.EditorFor(model => model.ValueInPesos, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ValueInPesos, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(model => model.IVA, htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-4">
        @Html.EditorFor(model => model.IVA, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.IVA, "", new { @class = "text-danger" })
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("Valor U$D", htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-4">
        @Html.EditorFor(model => model.ValueInDollars, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ValueInDollars, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-2">
        @Html.Label("Cambio", htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-4">
        @Html.EditorFor(model => model.ChangeRate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ChangeRate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("Total Fact", htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-4">
        @Html.EditorFor(model => model.InvoiceTotal, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.InvoiceTotal, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-2">
        @Html.Label("Fecha de Pago", htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-4">
        @Html.EditorFor(model => model.PayDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PayDate, "", new { @class = "text-danger" })
    </div>
</div>
