@model ArquiaIT.Models.Business.Telephone

@{
    ViewBag.Title = "Details";
}

<h2>Teléfono</h2>

<div>
    <h4>Detalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Númbero")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.Label("Tipo de Teléfono")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneType.Description)
        </dd>

        <dt>
            @Html.Label("Cliente")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver", "Index")
</p>
