@model IEnumerable<FG.Models.Noticia>

@if (!string.IsNullOrEmpty(ViewBag.Banner))
{
    @Html.Raw("<img src=\"data:image/png;base64," + ViewBag.Banner + "\" class=\"img-responsive center-block\" />")
}
else
{
    <h2>Noticias</h2>
}


@if (Session["sessionStore"] != null)
{                   
    <p>
        @Html.ActionLink("Agregar", "Create")
    </p>
}


@foreach (var item in Model) {
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                @if (!string.IsNullOrEmpty(item.ImagenPortada)) {
                    @Html.Raw("<img src=\"data:image/png;base64," + item.ImagenPortada + "\" class=\"img-responsive center-block\" />")
                }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>@item.Pie</h5>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <h6>@item.Volanta</h6>
                    <h2><b>@Html.ActionLink(@item.Titulo, "Details", new { id = item.Id })</b></h2>
                    <h6>@item.Subtitulo</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.Raw(@item.CuerpoCorto)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6 style="color:gray">@item.TimeStamp</h6>
                </div>
            </div>

            @if (Session["sessionStore"] != null)
            {
                <div class="row">
                    <div class="col-md-12">
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <hr />
    </div>

}
