@model ArquiaIT.Models.Business.PurchaseOrder

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div class="form-horizontal">
    <h4>Eliminar</h4>
    <hr />
    <p>
        <div class="Warning">
            ¿Est&aacute; seguro que desea eliminar esta orden de compra?
        </div>
    </p>

    @Html.Partial("~/Views/Clients/ClientPartial.cshtml", Model)

    <div class="row">
        <div class="col-md-2">
            @Html.Label("Orden Compra", htmlAttributes: new { @class = "control -label" })
        </div>
        <div class="col-md-4">
            @Html.EditorFor(model => model.PONumber, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
        </div>
        <div class="col-md-2">
            @Html.Label("Fecha", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-4">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.Label("Dolar", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsDolar)
            </div>
        </div>
        <div class="col-md-2">
            @Html.Label("Cambio del día", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-4">
            @Html.EditorFor(model => model.ChangeRate, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.Label("Total Orden de Compra", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-4">
            <input type="text" value="@String.Format("{0:c}", Model.POTotal)" class="form-control" disabled />
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>

    @Html.Partial("~/Views/PurchaseOrderLines/IndexView.cshtml", Model, new ViewDataDictionary { { "src", "PODelete" } }) 

    <hr />
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>

