@model ArquiaIT.Models.Business.PurchaseOrder

@{
    ViewBag.Title = "Details";
}

<h2>Orden de Compra</h2>

<div class="form-horizontal">
    <h4>Detalle</h4>

    @Html.Partial("~/Views/Clients/ClientPartial.cshtml", Model)

    <div class="row">
        <div class="col-md-2">
            @Html.Label("Orden Compra", htmlAttributes: new { @class = "control -label" })
        </div>
        <div class="col-md-4">
            @Html.EditorFor(model => model.PONumber, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
        </div>
        <div class="col-md-2">
            @Html.Label("Fecha", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-4">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" , disabled = "true"} })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.Label("Dolar", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsDolar)
            </div>
        </div>
        @*<div id="ChangeRateDiv" style="display:none">*@
        <div class="col-md-2">
            @Html.Label("Cambio del día", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-4">
            @Html.EditorFor(model => model.ChangeRate, new { htmlAttributes = new { @class = "form-control" , disabled = "true"} })
        </div>
        @*</div>*@
    </div>

    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.Label("Total Orden de Compra", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-4">
            <input type="text" value="@String.Format("{0:c}", Model.POTotal)" class="form-control" disabled />
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    
    @Html.Partial("~/Views/PurchaseOrderLines/IndexView.cshtml", Model, new ViewDataDictionary { { "src", "POView" } })

    <hr />
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Volver", "Index")
        </div>
    </div>
</div>









