@model ArquiaIT.Models.Business.PurchaseOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PurchaseOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PONumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PONumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDolar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDolar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
