@model ArquiaIT.Models.Business.PurchaseOrder

@{
    ViewBag.Title = "Index";
}

<h4>Detalle</h4>

<p>
    @Html.ActionLink("Nuevo Item", "Create", "PurchaseOrderLines", new { poID = Model.Id }, null)

</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Descripcion")
        </th>
        <th>
            @Html.Label("Valor $")
        </th>
        <th>
            @Html.Label("Valor U$D")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.PurchaseOrderLines) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.ValueInPesos, new { format = "C"})*@
            @String.Format("{0:c}", item.ValueInPesos)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.ValueInDollars)*@
            @String.Format("{0:c}", item.ValueInDollars)
        </td>
        <td>
            @Html.ActionLink("Facturar", "Create", "Invoices", new { POLineId = item.Id }, null) |
            @Html.ActionLink("Editar", "Edit", "PurchaseOrderLines", new { id=item.Id }, null) |
            @Html.ActionLink("Detalles", "Details", "PurchaseOrderLines", new { id=item.Id }, null) |
            @Html.ActionLink("Eliminar", "Delete", "PurchaseOrderLines", new { id=item.Id }, null)
        </td>
    </tr>
}

</table>
