@model ArquiaIT.Models.Business.Client

@{
    ViewBag.Title = "Delete";
}

<h2>Cliente</h2>

<div class="form-horizontal">
    <h4>Eliminar</h4>
    <hr />
    <p>
        <div class="Warning">
            ¿Est&aacute; seguro que desea eliminar este tipo de cliente?
        </div>
    </p>

    <div class="form-group">
        @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("CUIT", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CUIT, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Dirección", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Activo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Active)
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Telephones/IndexView.cshtml", Model.Telephone)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
