@model ArquiaIT.Models.Business.Client

@{
    ViewBag.Title = "Details";
}

<h2>Cliente</h2>

<div>
    <h4>Detalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUIT)
        </dd>

        <dt>
            @Html.Label("Dirección")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.Label("Activo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
    @Html.Partial("~/Views/Telephones/IndexView.cshtml", Model.Telephone)
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver", "Index")
</p>
